[submodule "ce"]
	path = ce
	url = https://github.com/couchbase/couchbase-lite-java-ce
[submodule "common"]
	path = common
	url = git@github.com:turingvideo/couchbase-lite-java-common.git
[submodule "core"]
	path = core
	url = git://github.com/couchbase/couchbase-lite-core
